body {
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
main{
    display: inline-block;
    width: 1024px;
    height: 500px;
    margin-left: 2%;
    margin-top: 0%;
}
/* main > img:hover{
    transform: rotate(180deg);
    transition: all 1s;
    opacity: 0;
} */

img{ 
    width: 550px;
    height: 500px;
    float: right; 
    margin-top: 10px; 
    border: solid white 5px padding 20px ; 
    width: 550px; 
    transition: all 1s
}
p{
    background-color: white;
}


.clay{
    font-size:20px ; 
    font-weight: bold; 
    cursor: pointer;
    text-decoration: none;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, fantasy;
    
}
.text {
    background-color: white;
    color: #000000;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, fantasy;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 30px;
}
.text:hover{
    background-color: rgb(240, 239, 239);
}

.button1{
    color: #000000;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, fantasy;
    line-height: 20px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #664488 ;
    color: white;
    /* box-shadow: 3px 3px 3px #999;
    transition: 0.5s; */
}
.button2 {
    background-color: white;
    color: #000000;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, fantasy;
    line-height: 20px;
    cursor: pointer;
    border-radius: 24px;
    border: solid #664488;
    /* box-shadow: 3px 3px 3px #999;
    transition: 0.5s; */
}


a.button1:hover{
    
    background-color: rgb(240, 239, 239);  
    /* transform: rotate(360deg);
    transition: 0.5s; */
}
p.button2:hover{
    
    color:white;
    background-color: rgb(240, 239, 239);  
    border:rgb(240, 239, 239);
    /* transform: rotate(360deg);
    transition: 0.5s; */
}


.social {
    /* margin: 5px; */
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.social a{
    font-size: 30px;
    color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    display: inline-block
}
.social a:hover{
    color:#664488;
}
.rights{
    padding: 15px;
    position: relative;
    margin: 10px;
    color:silver
}